body {
    font-size: 1rem;
}

textarea {
    width: 100%;
    height: 150px;
}

input {
    width: 100%;
    height: 1.5rem;
    border: 1px solid black;
}

label {
    display: block; 
}

#container {
    margin: auto;
    width: 80%;
}

#generate, #reset {
    width: auto;
}